project:
  type: website
  output-dir: docs

website:
  title: "temporary website"
  favicon: project.png
  navbar:
    logo: nav.jpg
    left:
      - href: index.qmd
        text: Home
      - about.qmd

format:
  html:
    theme: darkly
    css: styles.css
    toc: true
    toc-depth: 3
    toc-location: left

editor: visual

